<form [formGroup]="searchForm" (ngSubmit)="search()">
  <div class="d-grid gap-3">
    <div class="row">
      <div class="col">
        <div class="form-floating">
          <input formControlName="from" placeholder="From" class="form-control" />
          <label class="text-primary form-label">From</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input formControlName="destination" placeholder="Destination" class="form-control" />
          <label class="text-primary form-label">Destination</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating">
          <input formControlName="fromDate" type="date" placeholder="From Date" class="form-control" />
          <label class="text-primary form-label">From Date</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input formControlName="toDate" type="date" placeholder="To Date" class="form-control" />
          <label class="text-primary form-label">To Date</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating">
          <input formControlName="airline" placeholder="Airline" class="form-control" />
          <label class="text-primary form-label">Airline</label>
        </div>
      </div>
      <div class="col">
        <div class="input-group" style="height: calc(3.5rem + 2px);">
          <div class="input-group-text">For</div>
          <input formControlName="numberOfPassengers" class="form-control" type="number" placeholder="1" />
          <div class="input-group-text">Passengers</div>
        </div>
      </div>

    </div>

    <div *ngIf="searchResult.length < 1" class="m-3 text-center text-danger">
      <h5>No results for searched parameters</h5>
    </div>

    <div class="row">
      <div class="col">
        <div class="input-group" style="height: calc(3.5rem + 2px);">
          <button type="submit" class="btn-primary btn w-100" title="Search">
            <i class="fas fa-search m-2"></i>Search
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div *ngFor="let flight of searchResult">
  <div class="card text-dark mt-5 text-center">
    <div class="card-body" style="padding:20px; background-color:#e5ecf26e;">
      <a [routerLink]="['/airline-details',flight.airline]"
         class="fs-5 link-primary" style="text-decoration: none;">
        {{ flight.airline }}
      </a>
      <div class="card-title" style="color:#ff3939">
        {{ flight.remainingNumberOfSeats }} remaining seat{{ flight.remainingNumberOfSeats == 1 ? "" : "s"}}
      </div>

      <div class="d-grid text-center g-2">
        <div class="row">
          <div class="col">
            <div class="col m-3">
              <i class="text-primary fas fa-plane-departure" style="font-size:20px;"></i>
            </div>
            <div class="col">
              <i class="fa-solid fa-location-dot">
                {{ flight.departure?.place }}
              </i>
            </div>
            <div class="col m-2">
              <i class="fa-regular">
                {{ flight.departure?.time | date }}
              </i>
            </div>
            <div class="col">
              <i class="fa-regular fa-clock">
                {{ flight.departure?.time | date:'shortTime' }}
              </i>
            </div>
            <div class="col">

            </div>
          </div>

          <div class="col">
            <div style="display:flex">
              <i class="fa-solid fa-circle" style="margin-top:50px; font-size:9px;"></i>
              <hr style="display:block; width:100%; margin-top:55px;" />
              <i class="fas fa-plane" style="margin-top:48px;"></i>
            </div>
            <i class="fas fa-usd">{{ flight.price }}</i>
            <br />
            <a [routerLink]="['/book-flight',flight.id]" class="btn btn-secondary btn-lg mt-2" title="Book">
              <i class="fas fa-ticket"></i>
              Book
            </a>
          </div>
          
          <div class="col">
            <div class="col m-3">
              <i class="text-primary fas fa-plane-arrival" style="font-size:20px;"></i>
            </div>

            <div class="col">
              <i class="fa-solid fa-location-dot">
                {{ flight.arrival?.place }}
              </i>
            </div>

            <div class="col m-2">
              <i class="fa-regular">
                {{ flight.arrival?.time | date }}
              </i>
            </div>

            <div class="col">
              <i class="fa-regular fa-clock">
                {{ flight.arrival?.time | date:'shortTime' }}
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
